div.greenFlagWrapper {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

div.greenFlag {
  position: relative;
  padding: 16px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.75);
  border: 3px solid #ffffff; /* hslaから16進数に変更 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: 50%;        
}

img.greenFlag {
  width: 50%;
}

.greenFlagHidden {
  display: none;
}

.customBody {
  overflow: hidden; 
  margin: 0; 
  width:100%;
}